.chatbot {
    width: 90%;
    height: 90%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    color: white;
}

.chatbot-title {
    align-self: center;
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
}

.chat-area {
    flex: 1;
    margin: 1rem 0;
    overflow-y: auto;
}

.msg {
  padding: 10px 14px;
  border-radius: 12px;
  margin-bottom: 10px;
  max-width: 75%;
}

.msg.user {
  background: rgba(255, 255, 255, 0.25);
  margin-left: auto;
}

.msg.bot {
  background: rgba(255, 255, 255, 0.12);
}


.input-row {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.type {
    flex: 1;
    height: 58px;

    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(12px);
    border-radius: 50px;
    border: 1px solid rgba(255,255,255,0.25);
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);

    display: flex;
    align-items: center;
    padding-left: 1.2rem;
}

.chat-input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
}

.chat-input::placeholder {
    color: rgba(255,255,255,0.7);   
}

.send-btn {
    background: rgba(255,255,255,0);
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 30px;

    padding: 20px 20px;
    color: white;
    font-size: 0.95rem;
    cursor: pointer;

    transition: 0.2s ease;
}

.send-btn:hover {
    background: rgba(255,255,255,0.35);
    transform: translateY(-1px);
}
