.popup {
  position: fixed;
  inset: 0;

  background: linear-gradient(135deg, #0f0f0f, #1a1a1a);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
}

.popup .container {
  width: 90%;
  max-width: 700px;
  height: 85%;
  cursor: default;
}


.popup .image-container {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 1rem;
}


.popup h1 {
  margin: 0.5rem 0;
  color: aliceblue;
}

.popup h3 {
  margin: 0;
  opacity: 0.85;
  color: aliceblue;
}
